{% extends "base.html"%}
{%block nav%}
{%include "navbar.html"%}
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}

<div class="card" >
    <div class="card-body">
        <form method="post">
             {% csrf_token %}
        <fieldset class="form-group">
            {{routeform|crispy }}
            <!-- {{routeform}} -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">update</button>
            <button class="btn btn-outline-info" onclick=location.href="{% url 'portal:route_list' %}" type="submit">cancel</button>
         </div>
        </form>
    </div>
</div>
{%endblock%}

{%block scontent%}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Aditional information</h5>
    <p class="card-text"> A route name should start with a alphabet character</p>
  </div>
</div>


{%endblock%}