{% extends "base.html"%}
{% load crispy_forms_tags %}
{%block content%}
  
      {%for schedule in schedules%}
      <div class="card">
         <div class="card-body">
           <h5 class="card-title"><b>Route:</b> {{schedule.route}}</h5>
           <p class="card-text"> <b>bus:</b> {{schedule.bus}} </p>
           <p class="card-text"> <b>Date:</b> {{schedule.date_of_travel}} </p>
           <p class="card-text"> <b>Departure Time:</b> {{schedule.arrival_time}} </p>
           <p class="card-text"> <b>Arrival_Time:</b> {{schedule.arrival_time}} </p>
           <button class="btn btn-info" onclick=location.href="{% url 'portal:select_seat' %}">Next Select Seat</button>
         </div>
         
      </div>

      {%endfor%}
  
{%endblock%}

{%block scontent%}
<div class="card" >
    <div class="card-body">
        <form method="get"> 
          {{myfilter.form|crispy}}
          <input type="submit" value="search"/>
        </form>
    </div>
</div> 


{%endblock%}